.tableborder {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    margin: 2px;
    width: 99%
}

.tdborder {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}