.advance-search-parent {
    border: 1px solid #D3D3D3;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin: 0px 15px 15px;
    padding: 5px;
    width: 228px;
}

.advance-search-button-row{

}

.app-advance-search-bttn-padding {
    padding: 5px 9px;
}

.advance-search-parent-input {
    border: medium none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.advance-search-down-arrow {
    background: none repeat scroll 0 0 #D3D3D3;
    display: inline-block;
    text-align: center;
    width: 20px;
    cursor: pointer
}

.advance-search-parent-div {
    float: left;
    padding: 15px 0;
    width: 100%;
}

.advance-search-parent img {
    width: 10px;
    height: 10px;
}

.applied-filter-parent {
float: left;
    color:#000000;
}

.advance-search-button-parent {
    width: 100%;
    float: left;
    text-align: center;
    padding: 15px 0px 0px 0px;
}

.border-style {
    border-right: none;
    border-top: none;
    border-bottom: none;
}


.date-input {
    border: none;
    border-radius: 0 0 0 0;
    height: 26px;
    width: 168px;
    background-color: #ffffff !important;
    margin: 0px !important;;
}

/*Ashish Jain */
.calender-arrows {
    background: none !important;
    border: none !important;
    width: 21px !important;
}

.calender-arrows img {
    padding-top: 9px !important;
    width: 10px !important;
    height: 10px !important;
}

.calender-parent {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    padding: 3px 5px 0 0 !important;
}

.calender-parent-img {
    background-image: url("../images/calender.png") !important;
    height: 20px !important;
    width: 20px !important;
}

/**-------HOME PAGE CSS--------**/



.popupContainer {
    /*background-color: rgba(0, 0, 0, 0.1);*/
    position: fixed;
}

.popupwrapper {
    background: none repeat scroll 0 0 white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px ;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 9998;
}

.calender-drop-down {
    background: none repeat scroll 0 0 white;
    border-color: black transparent rgba(0, 0, 0, 0.2);
    border-width: 1px 7px 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: black;
    cursor: pointer;
    font-size: 14px;
    margin-top: 3px;
    position: absolute;
    width: 100px;
    z-index: 1;
}

.calender-drop-down li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-color: black transparent rgba(0, 0, 0, 0.2);
    line-height: 20px;
    padding: 5px 5px 5px 9px;
}

.calender-drop-down li:hover {
    background-color: #EEEEEE;
}

.button-pading {
    padding: 10px !important;
}

